/* === Main RTL === */
div [data-test-render-count] {
    direction: rtl;
}

.mx-auto.flex.size-full.max-w-3xl.flex-col.md\:px-2,
.sticky.bottom-0.mx-auto.w-full.pt-6,
.font-claude-message {
    direction: rtl;
}

body div.ProseMirror ul {
    list-style-type: unset;
    padding-right: 2rem !important;
    padding-left: 0 !important;
}

table,
pre {
    direction: ltr;
}